/* 
Adriane Louis S. Cadawan 
CYB201

*/

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #440000;
	color: #fff; 
  font-family: 'Roboto Condensed', sans-serif;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://pngmagic.com/webp_images/dark-maroon-color-website-banner-design-free-download.webp');
  background-size: cover;
  background-position: center;
  opacity: 0.07; 
  z-index: -1;
}

header {
  height: 110px;
  overflow: hidden;
  width: max-content;
  margin: 0 auto 0 auto;
  text-align: center;
}

header img {
  height: 80px;
  display: block;
  margin: 25px 0 0 0;
}

h1 {
  display: block;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  position: relative;
  top: -0.6em;
  font-size: 3.5em;
  padding: 0 0 0 0.5em;
  margin: 0;
  margin-top: 0.5em;
}

h2 {
  color: #b5b6c1;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 0 0 0.7em 0;
  padding: 0;
}

section {
  padding: 1em;
  width: max-content;
  margin: 0 auto 0 auto;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
}

td, th {
  padding: 0.3em 2em 0.3em 0;
}

th:last-child {
  padding: 0;
}

tr:nth-child(2) td {
  padding-top: 0.6em;
}

th {
  font-size: 1.2em;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  border-bottom: 1px solid #6f7381;
  font-weight: normal;
  color: #b5b6c1;
}

td {
  font-size: 1.4em; 
  padding: 0.8em 2em 0.8em 0; 
}

p {
  margin-bottom: 1.6em;
}

.important {
  color: #ffffff;
}

td.overdrawn {
  color: #fca905;
}

footer {
  width: max-content;
  margin: 2em auto; 
  text-align: center;
  border-top: 1px solid #6f7381; 
  padding-top: 1.5em;
}

footer p {
  color: #b5b6c1; 
  font-size: 0.9em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}